<div class="card" style="width: 318px;">
  <% if (user.avatar) { %>
    <img class="card-img-top" style="width: 100%;" src="<%= `https://cdn.discordapp.com/avatars/${user.id}/${user.avatar}.png?size=512` %>" alt="<%= user.username %>">
  <% } else { %>
    <img class="card-img-top" style="width: 100%;" src="/public/images/default.png?size=512">
  <% } %>
    <div class="card-body">
      <h4 class="card-title"><%= user.username %></h4>
      <p class="card-text" id="userCreate"><%= user.createdAt %></p>
    </div>
</div>