<div class="card-header" style="padding: 2px;">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link<% if(active === 'manage') { %> active<% } %>" href="/dashboard/users/<%= user.id %>">Guilds</a>
    </li>
    <li class="nav-item">
      <a class="nav-link<% if(active === 'stats') { %> active<% } %>" href="/dashboard/users/<%= user.id %>/stats">Stats</a>
    </li>
  </ul>
</div>